/* Start Defect:200 CHAMARS 05 Sep 2014 */
a {
color: blue; /* change value inherit to blue */
text-decoration: underline;
}

/* To add text wrap for SS question text*/
#SSQuestionList .AppletBack {
    white-space: pre-wrap;
}
/* End Defect 200: CHAMARS Date */

/* Start Defect:73 CHAMARS for HomePage********/

.siebui-form-label {
white-space: nowrap; 
}
/*End Defect:73* more stars*/

/*START***BADLIS HI fix for salutation start 10-Sep-2014*/
.salutation-pr-applet {
    min-height: 30px;
    margin-top: 15px;
    margin-left: 20px;
}

.salutation-pr-title {
    float: left;
    font-size: 1.3em;
    margin-right: 40px;
    font-weight: bold;
    color: #777;
}
/*END ****BADLIS HI fix for salutation END 10-Sep-2014*/

/*START***BADLIS Form Applet truncated - add scroll bar 11-Sep-2014*/
div.siebui-collapsible-applet {
    overflow-x: auto;
}
/*END ****BADLIS Form Applet truncated - add scroll bar 11-Sep-2014*/

/*VINCIAC Added to Fix Row Height Issues 12-Sep-2014*/
.ui-jqgrid tr.ui-row-ltr td {
    height: 20px;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
} 
/* END VINCIAC Added to Fix Row Height Issues 12-Sep-2014*******/

/* MEKAA ; For Symbolic URL Iframe Applet Adjustment. Changed position value from 'Absolute' to 'Relative' */
iframe {
  position: relative;
  height: 98%;
  width: 99%;
}
/* End - MEKAA */

/* MEKAA ; For MVG fields to look read only */
div.mceGridField input.siebui-ctrl-mvg[readonly="readonly"]{
background: #f3f3f3!important;
border: 1px solid #CCC!important
color: #777!important;
}

div.mceGridField input.siebui - ctrl - mvg {
color : # 555!important;
background : # fff!important
}
/* End - MEKAA */

/*Shiv 1*/
/*Shiv 2*/
